.App {
  text-align: center;
  justify-items: center;
  justify-content: center;
}

*{
  justify-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.home{
  background-size: cover;
  justify-items: center;
  color: white;

}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.currency-picker{
  font-size: large;
  padding: 10;
  width: 200px;
  color: black;
}

.picker-container{
  text-align: center;
  margin: auto;
  /* position: absolute;
  left: 470px;
  top: 150px; */
}
.bitcoin-info{
  position: relative;
  /* top: 240px;
  left: 400px; */
  align-items: center;
}
.coin{
  /* position: absolute;
  top: 170px;
  left: 370px; */
}
.article-card{
  box-shadow: #242c3c;
  background-color: rgb(57, 60, 63);
  text-decoration: none;
  margin: 5px;
  padding: 5%;
}
.article-card :hover{
  background-color:  rgb(24, 72, 119);
}
.article-card a{
  text-decoration: none;
  color: white;
}

.article-img{
  height: 40%;
  width: 40%;
  max-width: 100%;
  
}
.article-title{
  size: 20px;
  position: relative;
}
.article-container{
  margin: auto;
  width: 150%;
  display: grid;
 
  justify-items: center;
   padding-top: 20px;
   grid-template-columns: repeat(auto-fill, 350px);
    grid-auto-rows: auto;
}
.coin-img{
  height: 230px;
  width: 230px;
  animation: spin 3s linear 0s forwards;
}
@keyframes spin {
  from {transform: rotateY(0deg)}
  to {transform: rotateY(360deg) }
}

@media screen and (max-width: 960px){

  .article-card{
    /* background-color: blue; */
  }

}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #757575;
}

#coindesk {
  font-weight: 300;
}

#coindesk a {
  text-decoration: none;
  color: inherit;
}

.popup {
  min-height: 50px;
}